workflow/02.json
{
  "nodes": [
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-4400, -800],
      "id": "913387e9-f218-40c1-b57c-387d7eaa6bee",
      "name": "Mistral Sentiment LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "oTAUAlLG4h6S0uVq",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [-4144, -800],
      "id": "ed051d91-fe44-483a-9990-cc76ccd7c680",
      "name": "Sentiment Analyst Agent"
    },
    {
      "parameters": {
        "jsCode": "const context = $('15 - Préparer Contexte Complet1').first().json;\nconst message = $('9 - Préparer Contexte Lead1').first().json.user_message;\nconst sentimentRaw = $('Sentiment Analyst Agent').first().json.text;\ntry {\n  const analysis = JSON.parse(sentimentRaw.replace(/```json\\n?|\\n?```/g, ''));\n  return [{\n    json: {\n      ...context,\n      user_message: message,\n      analysis\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      ...context,\n      user_message: message,\n      analysis: { sentiment: 'neutre', urgency: 'basse', decision: 'repondre_vite', ton_suggeré: 'professionnel' }\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3904, -608],
      "id": "9df8d185-e510-4337-bb24-446d25a4013d",
      "name": "Merge Context & Sentiment"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [-3408, 512],
      "id": "57d92db9-0017-4848-aed0-fe020697bcf0",
      "name": "Mistral Cloud Embeddings",
      "credentials": {
        "mistralCloudApi": {
          "id": "oTAUAlLG4h6S0uVq",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "description": "Indispensable pour répondre aux questions sur les tarifs, le fonctionnement, les règles de l'agence, et les informations générales (FAQ/RAG)."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [-3296, 112],
      "id": "59f30801-e838-4c61-8274-623bf6ca0a76",
      "name": "Tool - Recherche Documentation"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [-3152, 400],
      "id": "af4ebcfb-11ae-4ded-bf2a-4f15c5fdd5ba",
      "name": "Postgres Vector Store",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Recherche sémantique de profils par description (ex: 'femme entrepreneuse douce'). Retourne les codes des profils les plus proches."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [-3296, -96],
      "id": "453b54ed-ed64-4ea2-be66-d99a1e5b3227",
      "name": "Tool - Recherche Profils Compatibles"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [-3152, 208],
      "id": "b8180e1e-76dd-4b06-95f8-502897841986",
      "name": "Postgres Vector Store Profiles",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-messages",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-7488, -64],
      "id": "75d7e55e-2c20-4740-87e9-1f4a1221d2c9",
      "name": "1 - Webhook WhatsApp1",
      "webhookId": "whatsapp-conversations-v3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "phone_formatted",
              "name": "phone_formatted",
              "value": "=+{{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || $json.body.data.message?.imageMessage?.caption || '' }}",
              "type": "string"
            },
            {
              "id": "from_me",
              "name": "from_me",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "message_type",
              "name": "message_type",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "push_name",
              "name": "push_name",
              "value": "={{ $json.body.data.pushName || 'Utilisateur' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "has_media",
              "name": "has_media",
              "value": "={{ !!$json.body.data.message?.imageMessage || !!$json.body.data.message?.videoMessage || !!$json.body.data.message?.documentMessage }}",
              "type": "boolean"
            },
            {
              "id": "is_forwarded",
              "name": "is_forwarded",
              "value": "={{ !!$json.body.data.message?.extendedTextMessage?.contextInfo?.isForwarded || !!$json.body.data.message?.imageMessage?.contextInfo?.isForwarded }}",
              "type": "boolean"
            },
            {
              "id": "raw_data",
              "name": "raw_data",
              "value": "={{ JSON.stringify($json.body.data) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-7264, -64],
      "id": "64dc4f47-c9ac-4964-bd67-fcb9c6272469",
      "name": "2 - Extract Data1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-from-me",
              "leftValue": "={{ $json.from_me }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "check-message-not-empty",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-7040, -64],
      "id": "702176e2-d546-4548-b8ef-69b6207e3d6c",
      "name": "3 - Message entrant valide ?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-6816, 48],
      "id": "af9a7fbf-5495-4444-9de8-3ffd42c11192",
      "name": "FIN - Message ignoré1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM admin_config WHERE key = 'admin_phone' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-6816, -160],
      "id": "a0aeb157-8a1e-4b1e-8c77-7d1a22df010b",
      "name": "4 - Get Admin Phone1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-not-admin",
              "leftValue": "={{ $('2 - Extract Data1').item.json.phone }}",
              "rightValue": "={{ $json.value }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-6592, -160],
      "id": "7f27ee92-1499-45c4-950b-5816775c51ad",
      "name": "5 - Pas l'admin ?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-6368, -64],
      "id": "dcc6fef0-fe42-4124-b66e-cea7ca8b11da",
      "name": "FIN - Message admin (ignoré)1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  id,\n  phone,\n  name,\n  first_name,\n  last_name,\n  city,\n  age,\n  gender,\n  status,\n  source,\n  notes,\n  created_at\nFROM leads \nWHERE phone = '{{ $('2 - Extract Data1').item.json.phone_formatted }}' \n   OR phone = '{{ $('2 - Extract Data1').item.json.phone }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-6368, -256],
      "id": "96b14cf2-6e7a-420e-8582-5fcfd52ef977",
      "name": "6 - Get Lead by Phone1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-lead-exists",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-6144, -256],
      "id": "3b2377c3-3c2b-43f6-89ca-ec896e5a327b",
      "name": "7 - Lead existe ?1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO leads (\n  phone,\n  name,\n  status,\n  source,\n  created_at,\n  updated_at\n)\nVALUES (\n  '{{ $('2 - Extract Data1').item.json.phone_formatted }}',\n  '{{ $('2 - Extract Data1').item.json.push_name }}',\n  'prospect_anonyme',\n  'whatsapp_direct',\n  NOW(),\n  NOW()\n)\nRETURNING id, phone, name, status, source, city, age, gender;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-5920, -176],
      "id": "507d9248-687e-406f-aad2-3d7729206c48",
      "name": "8 - Créer Lead Anonyme1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead_id",
              "name": "lead_id",
              "value": "={{ $('6 - Get Lead by Phone1').item.json.id || $('8 - Créer Lead Anonyme1').item.json.id }}",
              "type": "number"
            },
            {
              "id": "lead_phone",
              "name": "lead_phone",
              "value": "={{ $('6 - Get Lead by Phone1').item.json.phone || $('8 - Créer Lead Anonyme1').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "lead_name",
              "name": "lead_name",
              "value": "={{ $('6 - Get Lead by Phone1').item.json.name || $('8 - Créer Lead Anonyme1').item.json.name || $('2 - Extract Data1').item.json.push_name }}",
              "type": "string"
            },
            {
              "id": "lead_city",
              "name": "lead_city",
              "value": "={{ $('6 - Get Lead by Phone1').item.json.city || 'Non renseigné' }}",
              "type": "string"
            },
            {
              "id": "lead_age",
              "name": "lead_age",
              "value": "={{ $('6 - Get Lead by Phone1').item.json.age || null }}",
              "type": "number"
            },
            {
              "id": "lead_gender",
              "name": "lead_gender",
              "value": "={{ $('6 - Get Lead by Phone1').item.json.gender || 'Non renseigné' }}",
              "type": "string"
            },
            {
              "id": "lead_status",
              "name": "lead_status",
              "value": "={{ $('6 - Get Lead by Phone1').item.json.status || $('8 - Créer Lead Anonyme1').item.json.status }}",
              "type": "string"
            },
            {
              "id": "is_new_lead",
              "name": "is_new_lead",
              "value": "={{ !$('6 - Get Lead by Phone1').item.json.id }}",
              "type": "boolean"
            },
            {
              "id": "user_message",
              "name": "user_message",
              "value": "={{ $('2 - Extract Data1').item.json.message }}",
              "type": "string"
            },
            {
              "id": "is_forwarded",
              "name": "is_forwarded",
              "value": "={{ $('2 - Extract Data1').item.json.is_forwarded }}",
              "type": "boolean"
            },
            {
              "id": "has_media",
              "name": "has_media",
              "value": "={{ $('2 - Extract Data1').item.json.has_media }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-5696, -256],
      "id": "3d7379f3-182e-41c8-99cc-1c05db6ab8c8",
      "name": "9 - Préparer Contexte Lead1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO conversations (\n  lead_id,\n  direction,\n  content,\n  message_type,\n  sender_type,\n  status,\n  metadata,\n  created_at\n)\nVALUES (\n  {{ $json.lead_id }},\n  'in',\n  '{{ $json.user_message.replace(/'/g, \"''\").replace(/\\\\/g, \"\\\\\\\\\") }}',\n  '{{ $('2 - Extract Data1').item.json.message_type }}',\n  'client',\n  'bot_actif',\n  '{{ $('2 - Extract Data1').item.json.raw_data.replace(/'/g, \"''\").replace(/\\\\/g, \"\\\\\\\\\") }}'::jsonb,\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-5472, -256],
      "id": "eb12afc2-c692-4d05-9cd4-1e3e7c8be929",
      "name": "10 - Log Message IN1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT status \nFROM conversations \nWHERE lead_id = {{ $('9 - Préparer Contexte Lead1').item.json.lead_id }}\nORDER BY created_at DESC \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-5248, -256],
      "id": "c3e75bab-942a-4027-b57f-1a6e6bad1e2e",
      "name": "11 - Get Conversation Status1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-bot-actif",
              "leftValue": "={{ $json.status }}",
              "rightValue": "attente_humain",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-5024, -256],
      "id": "1ee5df42-1cd3-47d7-9498-a607e737586d",
      "name": "12 - Bot peut répondre ?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-4800, -160],
      "id": "47943e0d-90a8-4ca5-bbfc-5aba876df039",
      "name": "FIN - Attente humain1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  direction,\n  content,\n  message_type,\n  profile_code,\n  intent,\n  created_at\nFROM conversations \nWHERE lead_id = {{ $('9 - Préparer Contexte Lead1').item.json.lead_id }}\nORDER BY created_at DESC \nLIMIT 15;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-4800, -352],
      "id": "74a78511-f835-4fc0-a6c2-4e79195ab760",
      "name": "13 - Get Conversation History1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  code,\n  name,\n  age,\n  city,\n  gender,\n  profession,\n  marital_status,\n  description_short\nFROM profiles \nWHERE status = 'actif'\nORDER BY created_at DESC \nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-4576, -352],
      "id": "b6957ecd-b686-44d5-bffb-ce62a3e6500e",
      "name": "14 - Get Active Profiles1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "full_context",
              "name": "full_context",
              "value": "=MESSAGE DU CLIENT:\n\"{{ $('9 - Préparer Contexte Lead1').item.json.user_message }}\"\n\n---\n\nINFORMATIONS CLIENT:\n- ID: {{ $('9 - Préparer Contexte Lead1').item.json.lead_id }}\n- Nom: {{ $('9 - Préparer Contexte Lead1').item.json.lead_name }}\n- Téléphone: {{ $('9 - Préparer Contexte Lead1').item.json.lead_phone }}\n- Ville: {{ $('9 - Préparer Contexte Lead1').item.json.lead_city }}\n- Âge: {{ $('9 - Préparer Contexte Lead1').item.json.lead_age || 'Non renseigné' }}\n- Genre: {{ $('9 - Préparer Contexte Lead1').item.json.lead_gender }}\n- Statut: {{ $('9 - Préparer Contexte Lead1').item.json.lead_status }}\n- Nouveau client: {{ $('9 - Préparer Contexte Lead1').item.json.is_new_lead ? 'Oui' : 'Non' }}\n- Message transféré: {{ $('9 - Préparer Contexte Lead1').item.json.is_forwarded ? 'Oui' : 'Non' }}\n\n---\n\nHISTORIQUE DE CONVERSATION (15 derniers messages):\n{{ $('13 - Get Conversation History1').all().reverse().map(m => `[${m.json.direction === 'in' ? 'CLIENT' : 'ASSISTANT'}]: ${m.json.content}`).join('\\n') || 'Aucun historique (première interaction)' }}\n\n---\n\nPROFILS DISPONIBLES (20 derniers):\n{{ $('14 - Get Active Profiles1').all().map(p => `- ${p.json.code}: ${p.json.name}, ${p.json.age} ans, ${p.json.gender}, ${p.json.city}, ${p.json.profession || 'N/A'}`).join('\\n') || 'Aucun profil disponible' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-4352, -352],
      "id": "ee77bbe7-372c-4cad-99c2-730d21f47aec",
      "name": "15 - Préparer Contexte Complet1"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-4304, -96],
      "id": "ea0a61a8-6eba-400d-92e6-98429962500a",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "oTAUAlLG4h6S0uVq",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "description": "=OUTIL POUR RECHERCHER UN PROFIL PAR SON CODE.\n\nQUAND UTILISER CET OUTIL:\n- Quand le client mentionne un code de profil (format: MAT-2025-XXX)\n- Quand le client transfère un message contenant un profil\n- Quand le client demande des détails sur un profil spécifique\n\nPARAMÈTRES À FOURNIR:\n- profile_code: Le code du profil au format MAT-YYYY-NNN (exemple: MAT-2025-042)\n- lead_id: L'ID du client qui consulte (récupéré du contexte)\n\nRÉSULTAT:\nL'outil retourne toutes les informations détaillées du profil demandé.",
        "workflowId": {
          "__rl": true,
          "value": "XjGmr9OR2dicsx12",
          "mode": "list",
          "cachedResultUrl": "/workflow/XjGmr9OR2dicsx12",
          "cachedResultName": "Tool - Rechercher Profil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "profile_code": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profile_code', ``, 'string') }}"
          },
          "matchingColumns": ["profile_code"],
          "schema": [
            {
              "id": "profile_code",
              "displayName": "profile_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-3952, 160],
      "id": "30f0a932-aa69-4f55-ae99-bfab71154f9d",
      "name": "Tool - Rechercher Profil1"
    },
    {
      "parameters": {
        "description": "=OUTIL POUR TRANSFÉRER LA CONVERSATION À UN CONSEILLER HUMAIN.\n\nQUAND UTILISER CET OUTIL (OBLIGATOIRE):\n- Quand le client demande un numéro de téléphone\n- Quand le client demande un contact direct\n- Quand le client veut une mise en relation\n- Quand le client veut rencontrer quelqu'un\n- Quand le client pose des questions sur les tarifs ou prix\n- Quand le client demande comment payer\n- Quand le client semble frustré ou mécontent\n- Quand le client fait une réclamation\n\nPARAMÈTRES À FOURNIR:\n- lead_id: L'ID du client\n- lead_name: Le nom du client\n- lead_phone: Le numéro du client\n- reason: La raison de l'escalade (contact_request, pricing_question, complaint, etc.)\n- profile_code: Le code du profil concerné (si applicable)\n- context: Un résumé de la conversation\n\nRÉSULTAT:\nL'outil notifie l'administrateur et retourne un message de confirmation pour le client.",
        "workflowId": {
          "__rl": true,
          "value": "7L2qTjKljiWkJXRc",
          "mode": "list",
          "cachedResultUrl": "/workflow/7L2qTjKljiWkJXRc",
          "cachedResultName": "Send Message to Admin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}"
          },
          "matchingColumns": ["message"],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-3792, 144],
      "id": "9e684971-ae08-4545-bbd0-82806b6acb6f",
      "name": "Tool - Escalader vers Admin1"
    },
    {
      "parameters": {
        "description": "=OUTIL POUR ENREGISTRER QU'UN CLIENT A CONSULTÉ UN PROFIL.\n\nQUAND UTILISER CET OUTIL:\n- Après avoir présenté les détails d'un profil au client\n- Pour garder une trace des profils consultés\n\nPARAMÈTRES À FOURNIR:\n- lead_id: L'ID du client\n- profile_code: Le code du profil consulté\n\nRÉSULTAT:\nL'outil confirme que la consultation a été enregistrée.",
        "workflowId": {
          "__rl": true,
          "value": "7lom9hgmYm2pzVu5",
          "mode": "list",
          "cachedResultUrl": "/workflow/7lom9hgmYm2pzVu5",
          "cachedResultName": "Tool - Enregistrer Consultation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "profile_code": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profile_code', ``, 'string') }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "profile_code",
              "displayName": "profile_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-3680, 96],
      "id": "bd687079-991f-4e8d-ad0b-3767a0f19c95",
      "name": "Tool - Enregistrer Consultation1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.full_context }}",
        "options": {
          "systemMessage": "=════════════════════════════════════════════════════════════════════════════════\n                        AGENT CONVERSATIONNEL - AGENCE MATRIMONIALE\n════════════════════════════════════════════════════════════════════════════════\n\n[ANALYSE ÉMOTIONNELLE DU CLIENT]\nTon état d'esprit doit s'adapter à l'analyse suivante :\n- Sentiment détecté : {{ $json.analysis.sentiment }}\n- Urgence : {{ $json.analysis.urgency }}\n- Recommandation : {{ $json.analysis.decision }}\n- Ton suggéré : {{ $json.analysis.ton_suggeré }}\n\n[SECTION 1 - QUI TU ES]\n\nTu es l'ASSISTANT VIRTUEL de l'Agence Matrimoniale Premium.\nTon nom est \"Assistant AMC\" (Agence Matrimoniale Cameroun).\nTu réponds UNIQUEMENT en français.\nTu es chaleureux, professionnel et bienveillant.\nTu aides les clients à trouver le partenaire idéal.\n\n[SECTION 1.1 - HUMANISATION ET EMPATHIE]\n- Si le client est FRUSTRÉ ou NÉGATIF : Commence par valider ses sentiments (\"Je comprends parfaitement votre impatience...\"). Sois extrêmement doux.\n- Si le client est ENTHOUSIASTE : Partage sa joie !\n- Si l'urgence est HAUTE : Sois direct et efficace.\n- Ne sois jamais robotique. Utilise des expressions naturelles.\n\n════════════════════════════════════════════════════════════════════════════════\n\n[SECTION 2 - TES OUTILS DISPONIBLES]\n\nTu disposes d'OUTILS puissants :\n\nOUTIL 1 : \"rechercher_profil\"\n   → Utilise cet outil quand le client mentionne un code de profil (MAT-2025-XXX)\n\nOUTIL 2 : \"escalader_vers_admin\"\n   → Utilise cet outil quand le client veut un contact direct, un numéro, ou demande les TARIFS.\n\nOUTIL 3 : \"enregistrer_consultation_profil\"\n   → Utilise cet outil après avoir présenté un profil au client.\n\nOUTIL 4 : \"rechercher_documentation\"\n   → OBLIGATOIRE pour toute question sur le fonctionnement de l'agence, les prix, les conditions, ou des questions générales.\n\n════════════════════════════════════════════════════════════════════════════════\n\n[SECTION 3 - RÈGLES D'ESCALADE OBLIGATOIRES]\n\nTu DOIS escalader SI :\n✓ Demande de NUMÉRO, CONTACT DIRECT ou MISE EN RELATION.\n✓ Questions sur les TARIFS ou COMMENT PAYER.\n✓ Client très MÉCONTENT (utilise l'outil pour qu'un humain reprenne la main).\n\n════════════════════════════════════════════════════════════════════════════════\n\n[SECTION 5 - COMMENT RÉPONDRE AU CLIENT]\n\n- Maximum 3-4 paragraphes.\n- Phrases courtes.\n- 1 à 2 emojis par message.\n- Adaptes ton ton au sentiment détecté.\n\n════════════════════════════════════════════════════════════════════════════════\n\nMAINTENANT, ANALYSE LE MESSAGE ET RÉPONDS AVEC EMPATHIE.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-4096, -480],
      "id": "7f5dc765-2fa8-445a-b518-5f644bdcbc00",
      "name": "16 - AI Agent Orchestrator1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final_response",
              "name": "final_response",
              "value": "={{ $json.output || 'Désolé, je n\\'ai pas pu traiter votre message. Veuillez réessayer.' }}",
              "type": "string"
            },
            {
              "id": "contains_escalation",
              "name": "contains_escalation",
              "value": "={{ $json.output.toLowerCase().includes('conseiller') && $json.output.toLowerCase().includes('contacter') }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-3536, -352],
      "id": "c43ae299-4cbc-4146-bfac-51998da039b8",
      "name": "17 - Traiter Réponse IA1"
    },
    {
      "parameters": {
        "jsCode": "// Extraction du code profil si présent dans le message original\nconst userMessage = $('9 - Préparer Contexte Lead1').first().json.user_message || '';\nconst profileCodeMatch = userMessage.match(/MAT-\\d{4}-\\d{3}/i);\n\n// Détection si escalade a eu lieu\nconst aiResponse = $input.first().json.final_response || '';\nconst containsEscalation = $input.first().json.contains_escalation || false;\n\nreturn [{\n  json: {\n    final_response: aiResponse,\n    profile_code: profileCodeMatch ? profileCodeMatch[0].toUpperCase() : null,\n    conversation_status: containsEscalation ? 'attente_humain' : 'bot_actif',\n    intent: profileCodeMatch ? 'profile_query' : (containsEscalation ? 'escalation' : 'general')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3312, -352],
      "id": "e51cee15-f035-44f5-be99-b4ca45aa7772",
      "name": "18 - Extraire Métadonnées1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO conversations (\n  lead_id,\n  direction,\n  content,\n  message_type,\n  sender_type,\n  status,\n  intent,\n  profile_code,\n  created_at\n)\nVALUES (\n  {{ $('9 - Préparer Contexte Lead1').first().json.lead_id }},\n  'out',\n  '{{ $json.final_response.replace(/'/g, \"''\").replace(/\\\\/g, \"\\\\\\\\\").replace(/\\n/g, \" \") }}',\n  'text',\n  'bot',\n  '{{ $json.conversation_status }}',\n  '{{ $json.intent }}',\n  {{ $json.profile_code ? \"'\" + $json.profile_code + \"'\" : 'NULL' }},\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3088, -352],
      "id": "1860b5aa-b715-4700-bdb4-f4d4ca3722b6",
      "name": "19 - Log Message OUT1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-escalation",
              "leftValue": "={{ $('18 - Extraire Métadonnées1').item.json.conversation_status }}",
              "rightValue": "attente_humain",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2864, -352],
      "id": "34c7f3bf-e306-4ed0-9a81-ddbdeb6162ff",
      "name": "20 - Mise à jour statut ?1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE conversations \nSET status = 'attente_humain' \nWHERE lead_id = {{ $('9 - Préparer Contexte Lead1').first().json.lead_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2640, -416],
      "id": "55206982-cd6b-4744-94c1-0e9a9dbeb03f",
      "name": "21 - Update Status Escalade1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "new",
        "remoteJid": "={{ $('2 - Extract Data1').first().json.phone }}",
        "messageText": "={{ $('18 - Extraire Métadonnées1').item.json.final_response }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-en.evolutionApi",
      "typeVersion": 1,
      "position": [-2400, -272],
      "id": "e9e25eef-785f-4262-a3f0-a9de0c4d2ed6",
      "name": "22 - Send WhatsApp Message1",
      "credentials": {
        "evolutionApi": {
          "id": "V1jMvwrsC7FPvBug",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE leads\nSET \n  status = CASE \n    WHEN status = 'nouveau_lead' THEN 'prospect_actif'\n    WHEN status = 'prospect_anonyme' THEN 'prospect_actif'\n    ELSE status\n  END,\n  updated_at = NOW()\nWHERE id = {{ $('9 - Préparer Contexte Lead1').first().json.lead_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2192, -352],
      "id": "6d4e5807-5a0e-401b-9561-a5ed70a31ae4",
      "name": "23 - Update Lead Status1",
      "credentials": {
        "postgres": {
          "id": "Gv2oFLeW3VbnJ0xx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-1968, -352],
      "id": "ccd31275-904c-4c21-a02b-965a812d1a5d",
      "name": "FIN - Message Envoyé ✅1"
    }
  ],
  "connections": {
    "Mistral Sentiment LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analyst Agent": {
      "main": [
        [
          {
            "node": "Merge Context & Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context & Sentiment": {
      "main": [
        [
          {
            "node": "16 - AI Agent Orchestrator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Recherche Documentation": {
      "ai_tool": [
        [
          {
            "node": "16 - AI Agent Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Recherche Profils Compatibles": {
      "ai_tool": [
        [
          {
            "node": "16 - AI Agent Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "1 - Webhook WhatsApp1": {
      "main": [
        [
          {
            "node": "2 - Extract Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 - Extract Data1": {
      "main": [
        [
          {
            "node": "3 - Message entrant valide ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 - Message entrant valide ?1": {
      "main": [
        [
          {
            "node": "4 - Get Admin Phone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIN - Message ignoré1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4 - Get Admin Phone1": {
      "main": [
        [
          {
            "node": "5 - Pas l'admin ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 - Pas l'admin ?1": {
      "main": [
        [
          {
            "node": "6 - Get Lead by Phone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIN - Message admin (ignoré)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6 - Get Lead by Phone1": {
      "main": [
        [
          {
            "node": "7 - Lead existe ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7 - Lead existe ?1": {
      "main": [
        [
          {
            "node": "9 - Préparer Contexte Lead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "8 - Créer Lead Anonyme1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8 - Créer Lead Anonyme1": {
      "main": [
        [
          {
            "node": "9 - Préparer Contexte Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9 - Préparer Contexte Lead1": {
      "main": [
        [
          {
            "node": "10 - Log Message IN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - Log Message IN1": {
      "main": [
        [
          {
            "node": "11 - Get Conversation Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - Get Conversation Status1": {
      "main": [
        [
          {
            "node": "12 - Bot peut répondre ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - Bot peut répondre ?1": {
      "main": [
        [
          {
            "node": "13 - Get Conversation History1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIN - Attente humain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 - Get Conversation History1": {
      "main": [
        [
          {
            "node": "14 - Get Active Profiles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 - Get Active Profiles1": {
      "main": [
        [
          {
            "node": "15 - Préparer Contexte Complet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 - Préparer Contexte Complet1": {
      "main": [
        [
          {
            "node": "Sentiment Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "16 - AI Agent Orchestrator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Rechercher Profil1": {
      "ai_tool": [
        [
          {
            "node": "16 - AI Agent Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Escalader vers Admin1": {
      "ai_tool": [
        [
          {
            "node": "16 - AI Agent Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Enregistrer Consultation1": {
      "ai_tool": [
        [
          {
            "node": "16 - AI Agent Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "16 - AI Agent Orchestrator1": {
      "main": [
        [
          {
            "node": "17 - Traiter Réponse IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17 - Traiter Réponse IA1": {
      "main": [
        [
          {
            "node": "18 - Extraire Métadonnées1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18 - Extraire Métadonnées1": {
      "main": [
        [
          {
            "node": "19 - Log Message OUT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19 - Log Message OUT1": {
      "main": [
        [
          {
            "node": "20 - Mise à jour statut ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20 - Mise à jour statut ?1": {
      "main": [
        [
          {
            "node": "21 - Update Status Escalade1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "22 - Send WhatsApp Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "21 - Update Status Escalade1": {
      "main": [
        [
          {
            "node": "22 - Send WhatsApp Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "22 - Send WhatsApp Message1": {
      "main": [
        [
          {
            "node": "23 - Update Lead Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23 - Update Lead Status1": {
      "main": [
        [
          {
            "node": "FIN - Message Envoyé ✅1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "1 - Webhook WhatsApp1": [
      {
        "headers": {
          "host": "n8n.home.local",
          "user-agent": "axios/1.13.2",
          "content-length": "1271",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "10.0.2.1",
          "x-forwarded-host": "n8n.home.local",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "1fdbfdec74cd",
          "x-real-ip": "10.0.2.1"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "messages.upsert",
          "instance": "new",
          "data": {
            "key": {
              "remoteJid": "237692676035@s.whatsapp.net",
              "remoteJidAlt": "237692676035@s.whatsapp.net",
              "fromMe": false,
              "id": "A5ED35A31C9971924657E3C447A7AFAE",
              "participant": "",
              "addressingMode": "lid"
            },
            "pushName": "drop in drop",
            "status": "DELIVERY_ACK",
            "message": {
              "conversation": "Bonjour",
              "messageContextInfo": {
                "threadId": [],
                "deviceListMetadata": {
                  "senderKeyIndexes": [],
                  "recipientKeyIndexes": [],
                  "recipientKeyHash": {
                    "0": 239,
                    "1": 94,
                    "2": 120,
                    "3": 156,
                    "4": 237,
                    "5": 247,
                    "6": 36,
                    "7": 213,
                    "8": 201,
                    "9": 18
                  },
                  "recipientTimestamp": {
                    "low": 1769884128,
                    "high": 0,
                    "unsigned": true
                  }
                },
                "deviceListMetadataVersion": 2,
                "messageSecret": {
                  "0": 118,
                  "1": 188,
                  "2": 224,
                  "3": 66,
                  "4": 180,
                  "5": 83,
                  "6": 246,
                  "7": 91,
                  "8": 150,
                  "9": 103,
                  "10": 80,
                  "11": 245,
                  "12": 116,
                  "13": 107,
                  "14": 246,
                  "15": 31,
                  "16": 25,
                  "17": 98,
                  "18": 224,
                  "19": 103,
                  "20": 58,
                  "21": 172,
                  "22": 8,
                  "23": 132,
                  "24": 187,
                  "25": 105,
                  "26": 235,
                  "27": 145,
                  "28": 226,
                  "29": 34,
                  "30": 79,
                  "31": 255
                }
              }
            },
            "messageType": "conversation",
            "messageTimestamp": 1769986266,
            "instanceId": "e4a23a99-8647-486b-a07e-b16032e32323",
            "source": "android"
          },
          "destination": "https://n8n.home.local/webhook/whatsapp-messages",
          "date_time": "2026-02-01T19:51:06.551Z",
          "sender": "237620124019@s.whatsapp.net",
          "server_url": "http://evo.home.local",
          "apikey": "78863B5BD065-4A82-8A2A-1DE87A656346"
        },
        "webhookUrl": "https://n8n.home.local/webhook/whatsapp-messages",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f86ab16199129cc9f17f47caf79594a565b44b7f742ae7b5f8b1862d8953cd"
  }
}
